aiohttp~=3.8.1
alphabet_detector
beautifulsoup4
bleach
cachetools
configparser
currencyconverter
emoji
feedparser
future
geopy
git+https://github.com/python-telegram-bot/ptbcontrib.git
gitpython
gpytranslate
intellivoid-SPB
markdown2
multicolorcaptcha
nltk
pillow~=9.1.0
psutil
psycopg2-binary
pyYAML~=6.0
pyrate-limiter
pyrogram
python-telegram-bot==13.5
requests
rich
spamwatch
speedtest-cli
spongemock
sqlalchemy~=1.4.35
telethon~=1.24.0
tgcrypto
tswift
ujson
zalgo-text
youtube-dl
youtube_search
humanize
wget
